table {
    width: 100%;
    background-color: white;
    border: 2px solid darkblue;
}

th, td {
    border: 2px solid darkblue;
    text-align: center;
}
body{
    background-color:lightblue;
}
tr:nth-child(odd) {
    background-color: gray;
}
tr:nth-child(6) {
    font-size: x-large;
}
tr:nth-child(10) td {
    border-width: 10px;
}
tr:nth-child(-n+5) {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
tr:hover:nth-child(even){
    background-color: gray;
}
tr:hover:nth-child(odd){
    background-color: white;
}